extends includes/layout

block headlink
  title 招新报名 -- 清华羽协

block content
  include includes/navbar
  
  if typeof(flash) != 'undefined'
    include includes/flash-messages
    mixin flash-messages(flash)
  
  mixin showName(person)
    if person == null
      div (空)
    else
      div(style=(person.chosen==0?'':(person.chosen==1?'background-color:#dddddd':'background-color:#dddd44')))
        if person.renrenid == ''
          = person.name
        else
          a(href='http://www.renren.com/#{person.renrenid}', target='_blank')
            = person.name
  
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 清华大学学生羽毛球协会招新
      div(class='panel-body')
        h4
          | 考试时间：2014年10月18日 上午10:00-12:00 （10月11日因补周四的课，考试时间改为18日）
        h4
          | 地点：清华综体
        if open == false
          h4
            | 现在不是招新报名时间
        else
          h4
            | 招新已经开始，欢迎报名！
        p
          | (招新报名时间：#{time})
        hr
        h4
          | 羽协活动时间：
        p
          | 周四 下午13:00-15:00 综体活动 4块场地 （群众体育会员）
        p
          | 周六 上午10:00-12:00 综体活动 8块场地 （正式会员）
        p
          | 羽协会费为：正式会员每学期150元；群众体育会员每学期70元。
        hr
        h4
          | 清华羽协简介
        p
          | 清华大学学生羽毛球协会每一周都有固定的活动时间和场地，周六上午10点到12点在综合体育馆我们有多达8块场地！羽毛球这项运动呢技巧性比较强，爱好者那么多，想加入羽毛球协会就需要先通过一个“招新考试”。所谓“考试”其实只是让羽毛球校队同学和新会员一对一打球，测试一下基本技术，所以正常发挥就好！我们的正式会员为70人左右。如果你的基础平常一些，也没有关系，因为我们在每周四下午1点到3点也在综体准备了4块场地举办“群众体育”，大家都可以来打球！无论周四还是周六羽协都有高水平选手现场指导和组织训练。你还有机会和全清华最牛的选手“过过招”！心动的话赶快注册并报名招新考试的预约吧！
    
    div(class='page-header')
      h4 考试结果如下：背景为黄色表示成为正式会员，其余为群众体育会员
      h4 （注：在临时报名的同学中，<span style="background-color:#dddd44">余翱，林生勇，梁言，春名林，Aisyah</span>等5位同学为正式会员）
    form(class='form-horizontal',method='post',role='form')
      div(class='table-responsive')
        table(class='table table-striped table-bordered table-hover')
          thead
            tr
              th 时间\场地
              - for (var i=1;i<=table[0].length;i++)
                th 场地#{i}
          tbody
            - var size = 6
            - for (var i=0;i<table.length;i++)
              tr
                if i % 10 == 0
                  td(rowspan=size)
                    = table[i].time
                if i % 10 < size
                  - for (var j=0;j<table[i].length;j++)
                    td
                      if open == false || sex == null
                        +showName(table[i][j])
                      else if result == null
                        if table[i][j] == null && ((sex == 'm' && (j<=3 || j>=6)) || (sex == 'f' && 4<=j && j<=5))
                          label
                            input(type='radio',name='timespace',value=i*100+j)
                            | (空)
                        else
                          +showName(table[i][j])
                      else
                        if result.time == i && result.space == j
                          div(class='text-success')
                            b
                              u
                                +showName(table[i][j])
                        else
                          +showName(table[i][j])
      if open == true && sex != null
        div(class='text-center')
          if result == null
            button(type='submit',class='btn btn-primary')
              | 提交报名
          else
            button(type='submit',class='btn btn-danger')
              | 取消报名
      input(type='hidden',name='type',value=(result==null)?'post':'delete')
    hr
  
  include includes/footer
