extends includes/layout

block headlink
  title 招新报名 -- 清华羽协

block content
  mixin showName(person)
    if person == null
      td (空)
    else
      if person.chosen == 0
        td= person.name
      if person.chosen == 2
        td(class='info')= person.name
      if person.chosen == 8
        td(class='danger')= person.name
  
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 清华大学学生羽毛球协会招新
      div(class='panel-body')
        h4
          | 考试时间：2015年9月27日 上午10:00-12:00
        h4
          | 地点：清华综体
        if open == false
          h4
            | 现在不是招新报名时间
        else
          h4
            | 招新已经开始，欢迎报名！（可考核现场报名）
        p
          | (招新报名时间：#{time})
        hr
        h4
          | 羽协活动时间：
        p
          | 周四 下午13:00-15:00 综体活动 5块场地
        p
          | 周日 上午10:00-12:00 综体活动 5块场地
        p
          | 羽协会费为：正式会员每学期150元。
        hr
        h4
          | 清华羽协简介
        p
          | 清华大学学生羽毛球协会每周都有两次固定的活动时间和场地。羽毛球这项运动呢技巧性比较强，爱好者那么多，想加入羽毛球协会就需要先通过一个“招新考试”。所谓“考试”其实只是让羽毛球校队同学和新会员一对一打球，测试一下基本技术，所以正常发挥就好！我们的正式会员为70人左右。你还有机会和全清华最牛的选手“过过招”！心动的话赶快注册并报名招新考试的预约吧！
        hr
        if sex == null
          h4 请先登录
        h4 考试结果如下：背景为蓝色表示成为羽协会员。
    hr
    form(class='form-horizontal',method='post',role='form')
      div(class='table-responsive')
        table(class='table table-striped table-bordered table-hover')
          thead
            tr
              th 时间
              - for (var i=1;i<=table[0].length;i++)
                th 场地#{i}
          tbody
            - var size = 5
            - for (var i=0;i<table.length;i++)
              if i % 10 < size
                tr
                  if i % 10 == 0
                    td(rowspan=size)
                      = table[i].time
                  - for (var j=0;j<table[i].length;j++)
                    if table[i][j] != null
                      if open == true && result != null && result.time == i && result.space == j
                        - table[i][j].chosen = 8
                      +showName(table[i][j])
                    else
                      if open == true && result == null && sex != null && ((sex == 'm' && j<=2) || (sex == 'f' && 3<=j))
                        td
                          label
                            input(type='radio',name='timespace',value=i*100+j)
                            | (空)
                      else
                        +showName(table[i][j])
      if open == true && sex != null
        div(class='text-center')
          if result == null
            button(type='submit',class='btn btn-primary')
              | 提交报名
          else
            button(type='submit',class='btn btn-danger')
              | 取消报名
      input(type='hidden',name='type',value=(result==null)?'post':'delete')
    hr
