extends layout

block content
  include includes/navbar
  
  if typeof(flash) != 'undefined'
    include includes/flash-messages
    mixin flash-messages(flash)
  
  div(class='container')
    hr
    form(class='form-horizontal',method='post',role='form')
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 学号
        div(class='col-sm-8')
          input(type='text',class='form-control',name='studentid',placeholder=user,disabled)
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 原密码
        div(class='col-sm-8')
          input(type='password',class='form-control',name='password',placeholder='Password')
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 新密码
        div(class='col-sm-8')
          input(type='password',class='form-control',name='newpassword',placeholder='New Password')
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 重复新密码
        div(class='col-sm-8')
          input(type='password',class='form-control',name='repeatpassword',placeholder='Repeat Password')
          p(class='help-block')
            | 如果不需要更改密码，请留空"新密码"和"重复新密码"
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 姓名
        div(class='col-sm-8')
          input(type='text',class='form-control',name='name',placeholder='Name',value=userinfo.name)
          p(class='help-block')
            | 请填写真实姓名
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 性别
        div(class='col-sm-8')
          div(class='radio-inline')
            label
              if userinfo.sex == 'm'
                input(type='radio',name='sex',value='m', checked)
                | 男
              else
                input(type='radio',name='sex',value='m')
                | 男
          div(class='radio-inline')
            label
              if userinfo.sex == 'f'
                input(type='radio',name='sex',value='f', checked)
                | 女
              else
                input(type='radio',name='sex',value='f')
                | 女
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 院系
        div(class='col-sm-8')
          select(class='form-control',name='departmentid')
            each department in departments
              if userinfo.departmentid == department.id
                option(value=department.id,selected)
                  = department.name
              else
                option(value=department.id)
                  = department.name
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 邮箱
        div(class='col-sm-8')
          input(type='text',class='form-control',name='email',placeholder='Email Address',value=userinfo.email)
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 电话
        div(class='col-sm-8')
          input(type='text',class='form-control',name='phone',placeholder='Phone Number',value=userinfo.phone)
          p(class='help-block')
            | 必填，发通知用，邮箱和电话不会公开在本网站上
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 人人ID
        div(class='col-sm-8')
          input(type='text',class='form-control',name='renrenid',placeholder='RenRen ID, Such as 123456789',value=userinfo.renrenid)
          p(class='help-block')
            | 选填，www.renren.com/<b><u>123456789</u></b>，如果填写，你的人人链接将出现在你的名字上；如不需要，请留空
      div(class='form-group')
        div(class='col-sm-offset-2 col-sm-8')
          button(type='submit',class='btn btn-primary')
            | 提交
    hr
  
  include includes/footer
