extends includes/layout

block headlink
  title 得分详细统计 -- 清华羽协
  style.
    .divider {font-size: 0px;}

block content
  div(class='container')
    hr
    div(class='text-center')
      h4
        = match.id1
        if match.id2 != null
          | /#{match.id2}
        | &nbsp;#{match.score12}-#{match.score34}&nbsp;
        = match.id3
        if match.id4 != null
          | /#{match.id4}
      h5 (#{match.detail})
    - for (var i=0;i<score.table.length;i++)
      h4 第#{i+1}局 (#{score.scoreL[i]}-#{score.scoreR[i]})
      div(class='row')
        div(class="col-md-2 col-sm-3 col-xs-4")
          div(class='table-responsive')
            table(class='table table-bordered')
              thead
                tr
                  th 选手
              tbody
                if match.id2 != null && match.id4 != null
                  - for (var j=1;j<=4;j++)
                    if j == 3
                      tr(class='divider success')
                        td(colspan=score.table[i].length+1) &nbsp;
                    tr
                      td= match['id' + j]
                else
                  - for (var j=1;j<=3;j+=2)
                    tr
                      td= match['id' + j]
        div(class="col-md-10 col-sm-9 col-xs-8")
          div(class='table-responsive')
            table(class='table table-bordered table-hover')
              thead
                tr
                  - for (var k=0;k<score.table[i].length;k++)
                    th= k+1
              tbody
                if match.id2 != null && match.id4 != null
                  - for (var j=1;j<=4;j++)
                    if j == 3
                      tr(class='divider success')
                        td(colspan=score.table[i].length) &nbsp;
                    tr
                      - for (var k=0;k<score.table[i].length;k++)
                        if score.table[i][k] == j
                          td
                            span(class='glyphicon glyphicon-ok-sign')
                        else
                          td &nbsp;
                else
                  - for (var j=1;j<=3;j+=2)
                    tr
                      - for (var k=0;k<score.table[i].length;k++)
                        if score.table[i][k] == j || score.table[i][k] == j+1
                          td
                            span(class='glyphicon glyphicon-ok-sign')
                        else
                          td &nbsp;
    br
    div(class='text-center')
      h4 裁判： #{match.name} (#{match.dep})
    hr
