extends includes/layout

block headlink
  title 单项赛报名 -- 清华羽协
  link(rel='stylesheet', href='/stylesheets/formValidation.min.css')
  script(src='/js/formValidation.min.js')
  script(src='/js/framework/bootstrap.min.js')

block content
  include includes/navbar
  
  if typeof(flash) != 'undefined'
    include includes/flash-messages
    mixin flash-messages(flash)
  
  mixin showName(title, player, edit, num)
    div(class='text-center')
      h4
        =title
    hr
    div(class='form-group')
      label(class='col-sm-2 control-label')
        | 学号
      div(class='col-sm-8')
        input(type='text',class='form-control',name='studentid'+num,placeholder='Student ID',value=player.studentid,readonly=edit,
                data-fv-message="The studentid is not valid",
                required,data-fv-notempty-message="The studentid is required and cannot be empty",
                pattern="^[0-9]+$",data-fv-regexp-message="The studentid can only consist of digits",
                data-fv-stringlength="true",data-fv-stringlength-min="10",data-fv-stringlength-max="10",
                data-fv-stringlength-message="The studentid must be 10 characters long")
    div(class='form-group')
      label(class='col-sm-2 control-label')
        | 姓名
      div(class='col-sm-8')
        input(type='text',class='form-control',name='name'+num,placeholder='Name',value=player.name,readonly=edit,
                data-fv-message="The username is not valid",
                required,data-fv-notempty-message="The username is required and cannot be empty")
    div(class='form-group')
      label(class='col-sm-2 control-label')
        | 性别
      div(class='col-sm-8')
        div(class='radio-inline')
          label
            input(type='radio',name='sex'+num,value='m', checked=(player.sex == 'm'), disabled,
                  required,data-fv-notempty-message="The gender is required")
            | 男
        div(class='radio-inline')
          label
            input(type='radio',name='sex'+num,value='f', checked=(player.sex == 'f'), disabled)
            | 女
    div(class='form-group')
      label(class='col-sm-2 control-label')
        | 院系
      div(class='col-sm-8')
        if edit == true
          each department in departments
            if player.departmentid == department.id
              input(type='text',class='form-control',name='showOnly',value=department.name,readonly)
              input(type='hidden',class='form-control',name='departmentid'+num,value=department.id)
        else
          select(class='form-control',name='departmentid'+num,
                data-fv-notempty="",data-fv-notempty-message="The department is required")
            option(value='')
              | -- 请选择院系 --
            each department in departments
              option(value=department.id)
                = department.name
    div(class='form-group')
      label(class='col-sm-2 control-label')
        | 邮箱
      div(class='col-sm-8')
        input(type='email',class='form-control',name='email'+num,placeholder='Email Address',value=player.email,readonly=edit,
              data-fv-emailaddress-message="The input is not a valid email address",
              required,data-fv-notempty-message="The email is required and cannot be empty")
    div(class='form-group')
      label(class='col-sm-2 control-label')
        | 电话
      div(class='col-sm-8')
        input(type='text',class='form-control',name='phone'+num,placeholder='Phone Number',value=player.phone,readonly=edit,
              pattern="^[0-9]+$",data-fv-regexp-message="The phone number can only consist of digits",
              required,data-fv-notempty-message="The phone number is required and cannot be empty",
              data-fv-stringlength="true",data-fv-stringlength-min="11",data-fv-stringlength-max="11",
              data-fv-stringlength-message="The phone number must be 11 characters long")
        p(class='help-block')
          | 必填，发通知用，邮箱和电话不会公开在本网站上
    hr
  
  div(class='container')
    form(id="defaultForm",class='form-horizontal',method='post',role='form',action='/individual/'+year,
          data-fv-message="This value is not valid",
          data-fv-icon-valid="glyphicon glyphicon-ok",
          data-fv-icon-invalid="glyphicon glyphicon-remove",
          data-fv-icon-validating="glyphicon glyphicon-refresh")
      div(class='text-center')
        if type == 1
          h3 男单报名
        if type == 3
          h3 男双报名
        if type == 4
          h3 女双报名
        if type == 5
          h3 混双报名
        if type == 9
          h3 裁判报名
        h5 如果信息有误，请先修改资料
      hr
      +showName('选手一', player1, player1.edit==false, 1)
      if 3 <= type && type <= 5
        +showName('选手二', player2, player2.edit==false, 2)
      div(class='text-center')
        button(type='submit',class='btn btn-primary')
          | 提交
      input(type='hidden',name='type',value=type)
    hr
  
  include includes/footer
  
  script(type='text/javascript').
    $(document).ready(function() {
      $('#defaultForm').formValidation();
    });

