extends layout

block content
  include includes/navbar
  
  if typeof(flash) != 'undefined'
    include includes/flash-messages
    mixin flash-messages(flash)
  
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 #{year}年清华大学羽毛球单项赛
      div(class='panel-body')
        h4
          if type == 1
            | 男单
          if type == 3
            | 男双
          if type == 4
            | 女双
          if type == 5
            | 混双
          | 比赛结果
    hr
    table(class='table table-bordered')
      thead
        tr
          th 结果
          - for (var i=1;i<table[0].length;i++)
            th #{table[0][i].content}
      tbody
        - for (var i=1;i<table.length;i++)
          tr
            td
              div= table[i][0].content
            - for (var j=1;j<table[i].length;j++)
              if table[i][j].height > 0
                td(rowspan=table[i][j].height)
                  br
                  - for (var k=0;k<table[i][j].content.length;k++)
                    p #{table[i][j].content[k]}
                  br
                  p #{table[i][j].detail}
    hr
  
  include includes/footer
