extends includes/layout

block headlink
  title 单项赛报名 -- 清华羽协

block content
  mixin showName(type, num, table)
    div(class="col-md-4 col-sm-6 col-xs-12")
      - flag = false
      div(class='table-responsive')
        table(class='table table-striped table-bordered table-hover')
          thead
            tr
              th 序号
              th(colspan=num)
                if type == 1
                  | 男单
                if type == 3
                  | 男双
                if type == 4
                  | 女双
                if type == 5
                  | 混双
                if type == 9
                  | 裁判
          tbody
            - for (var i=0;i<table.length;i++)
              tr(class=table[i].studentid == user?'danger':'')
                td #{i+1}
                td= table[i].nam1
                if num == 2
                  td= table[i].nam2
                if table[i].studentid == user
                  - flag = true
      div(class='text-center')
        if user != null && open == true
          if flag == false
            if (sex == 'm' && (type == 1 || type == 3 || type == 5 || type == 9)) || (sex == 'f' && (type == 4 || type == 5 || type == 9))
              - address = '/individual/' + year + '/Apply/' + type
              a(role="button", href=address, class="btn btn-primary")
                | 我要报名
          else
            - address = '/individual/' + year + '/Cancel/' + type
            a(role="button", href=address, class="btn btn-danger")
              | 取消报名
      hr
  
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 2015年清华大学羽毛球单项赛
      div(class='panel-body')
        div(class="col-md-12 col-sm-12 col-xs-12")
          h4
            | 比赛时间：2015年 未知
          h4
            | 比赛地点：未知
          p
            | 报名时间：暂定 #{time}
          p
            | 注：
          p
            | 1.每人最多可报 2 项比赛，双打比赛只需其中一人报名即可。
          p
            | 2.裁判将赠送一件衣服。
          p
            | 3.报名费：待定
          p
            | 4.以下不是最终比赛顺序，比赛前将会重新抽签安排。
    
    if user == null
      p 请先登录
      hr
    
    div(class='row')
      +showName(1, 1, mens_singles)
      +showName(3, 2, mens_doubles)
      
      div(class='clearfix visible-sm')
      
      +showName(4, 2, womens_doubles)
      div(class='clearfix visible-md visible-lg')
      +showName(5, 2, mixed_doubles)
      
      div(class='clearfix visible-sm')
      
      +showName(9, 1, referee)
    
    hr
