extends includes/layout

block headlink
  - var num = (type - type % 10) / 10
  if num == 0
    title #{year}年清华大学羽毛球单项赛比赛结果 -- 清华羽协
  else
    title #{year}年羽协第#{num}次内部交流赛比赛结果 -- 清华羽协

block content
  mixin getName(s, id)
    if s == null
      | &nbsp;
    else if id == null
      | #{s}
    else
      a(href='/statistics/' + id, target='_blank')= s
  
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        if num == 0
          h3 #{year}年清华大学羽毛球单项赛
        else
          h3 #{year}年羽协第#{num}次内部交流赛
      div(class='panel-body')
        h4
          if type % 10 == 1
            | 男单
          if type % 10 == 3
            | 男双
          if type % 10 == 4
            | 女双
          if type % 10 == 5
            | 混双
          | 比赛结果
        if year == 2015 && num == 0
          p
            | 比赛时间安排：
            a(href='/files/indTime2015.xlsx', target='_blank')
              | 《2015年羽毛球单项赛对阵表与赛程表》
          p
            | 邮件中的对阵表有误，请以本网站上的为准！
    hr
    div(class='table-responsive')
      table(class='table table-bordered')
        thead
          tr
            th 结果
            - for (var i=1;i<table[0].length;i++)
              th= table[0][i].content
        tbody
          - for (var i=1;i<table.length;i++)
            tr
              td
                div
                  +getName(table[i][0].id1, table[i][0].superId1)
                  if type % 10 >= 3 && table[i][0].id2 != null
                    | /
                    +getName(table[i][0].id2, table[i][0].superId2)
              - for (var j=1;j<table[i].length;j++)
                if table[i][j].height > 0
                  td(rowspan=table[i][j].height)
                    if table[i][j].score == null
                      | &nbsp;
                    else
                      div
                        +getName(table[i][j].id1, table[i][j].superId1)
                        if type % 10 >= 3
                          | /
                          +getName(table[i][j].id2, table[i][j].superId2)
                      div= table[i][j].score
                      div
                        +getName(table[i][j].id3, table[i][j].superId3)
                        if type % 10 >= 3
                          | /
                          +getName(table[i][j].id4, table[i][j].superId4)
                      if table[i][j].referee == null
                        div= table[i][j].detail
                      else
                        div
                          - var link = '/individual/scores/' + year + '/' + type + '/' + table[i][j].leftP + '/' + table[i][j].rightP
                          a(href=link, target='_blank')= table[i][j].detail
    hr
