extends includes/layout

block headlink
  title #{year}年清华大学羽毛球单项赛比赛结果 -- 清华羽协

block content
  mixin getName(s, id)
    if s == null
      | &nbsp;
    else if id == null
      | #{s}
    else
      a(href='/statistics/' + id, target='_blank')= s
  
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 #{year}年清华大学羽毛球单项赛
      div(class='panel-body')
        h4
          if type == 1
            | 男单
          if type == 3
            | 男双
          if type == 4
            | 女双
          if type == 5
            | 混双
          | 比赛结果
    hr
    div(class='table-responsive')
      table(class='table table-bordered')
        thead
          tr
            th 结果
            - for (var i=1;i<table[0].length;i++)
              th= table[0][i].content
        tbody
          - for (var i=1;i<table.length;i++)
            tr
              td
                div
                  +getName(table[i][0].id1, table[i][0].superId1)
                  if type >= 3 && table[i][0].id2 != null
                    | /
                    +getName(table[i][0].id2, table[i][0].superId2)
              - for (var j=1;j<table[i].length;j++)
                if table[i][j].height > 0
                  td(rowspan=table[i][j].height)
                    if table[i][j].score == null
                      | &nbsp;
                    else
                      div
                        +getName(table[i][j].id1, table[i][j].superId1)
                        if type >= 3
                          | /
                          +getName(table[i][j].id2, table[i][j].superId2)
                      div= table[i][j].score
                      div
                        +getName(table[i][j].id3, table[i][j].superId3)
                        if type >= 3
                          | /
                          +getName(table[i][j].id4, table[i][j].superId4)
                      div= table[i][j].detail
    hr
