extends includes/layout

block headlink
  title 单项赛报名 -- 清华羽协

block content
  mixin showName(type, num, table)
    div(class="col-md-4 col-sm-6 col-xs-12")
      - var flag = false
      div(class='table-responsive')
        table(class='table table-striped table-bordered table-hover')
          thead
            tr
              th 序号
              th(colspan=num)
                if type == 1
                  | 男单
                if type == 3
                  | 男双
                if type == 4
                  | 女双
                if type == 5
                  | 混双
                if type == 9
                  | 裁判
          tbody
            - for (var i=0;i<table.length;i++)
              tr(class=table[i].studentid == user?'danger':'')
                td #{i+1}
                td= table[i].nam1
                if num == 2
                  td= table[i].nam2
                if table[i].studentid == user
                  - flag = true
      div(class='text-center')
        if user != null && open == true
          if flag == false
            if (sex == 'm' && (type == 1 || type == 3 || type == 5 || type == 9)) || (sex == 'f' && (type == 4 || type == 5 || type == 9))
              - var address = '/individual/' + year + '/Apply/' + type
              a(role="button", href=address, class="btn btn-primary")
                | 我要报名
          else
            - var address = '/individual/' + year + '/Cancel/' + type
            a(role="button", href=address, class="btn btn-danger")
              | 取消报名
      hr
  
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 2015年清华大学羽毛球单项赛
      div(class='panel-body')
        div(class="col-md-12 col-sm-12 col-xs-12")
          h4
            | 比赛时间：2015年5月30、31日(校历第13周周末) 上午8:00-下午5:00
          h4
            | 比赛地点：清华大学综合体育馆
          p
            | 报名时间：#{time}
          p
            | 章程：
            a(href='/files/regulation2015.pdf', target='_blank')
              | 2015年清华大学第七届“佛雷斯杯”羽毛球单项赛章程.pdf
          p
            | 注：
          p
            | 1.教工和校队队员请发送报名邮件到 tsinghuabadminton@gmail.com
          p
            | 2.每人最多可报 2 项比赛，双打比赛只需其中一人报名即可。
          p
            | 3.报名费：在校学生与校友：单打20元/人，双打40元/对。参加教工组比赛：双打50元/对。
          p
            | 4.报名费收取：
          p
            | &nbsp;&nbsp;&nbsp;（1）在线支付，5月28日12:00前支付宝转帐至：肖重旺 15652918742，并注明“参赛费”和队员姓名及联系方式。
          p
            | &nbsp;&nbsp;&nbsp;（2）现金支付，时间：5月28日12:00-13:00，地点：清华大学综合体育馆订场等候区。
          p
            | 5.比赛场次抽签结果，以及比赛时间安排：
            a(href='/files/indTime2015.xlsx', target='_blank')
              | 《2015年羽毛球单项赛对阵表与赛程表》
    
    if user == null
      p 请先登录
      hr
    
    div(class='row')
      +showName(1, 1, mens_singles)
      +showName(3, 2, mens_doubles)
      
      div(class='clearfix visible-sm')
      
      +showName(4, 2, womens_doubles)
      div(class='clearfix visible-md visible-lg')
      +showName(5, 2, mixed_doubles)
      
      div(class='clearfix visible-sm')
      
      +showName(9, 1, referee)
    
    hr
