extends layout

block content
  include includes/navbar
  
  if typeof(flash) != 'undefined'
    include includes/flash-messages
    mixin flash-messages(flash)
  
  div(class='container')
    hr
    form(id="defaultForm",class='form-horizontal',method='post',role='form',
          data-bv-message="This value is not valid",
          data-bv-feedbackicons-valid="glyphicon glyphicon-ok",
          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove",
          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh")
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 学号
        div(class='col-sm-8')
          input(type='text',class='form-control',name='studentid',placeholder='Student ID',
                data-bv-message="The studentid is not valid",
                required,data-bv-notempty-message="The studentid is required and cannot be empty",
                pattern="^[0-9]+$",data-bv-regexp-message="The studentid can only consist of digits",
                data-bv-stringlength="true",data-bv-stringlength-min="10",data-bv-stringlength-max="10",
                data-bv-stringlength-message="The studentid must be 10 characters long")
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 密码
        div(class='col-sm-8')
          input(type='password',class='form-control',name='password',placeholder='Password',
                required,data-bv-notempty-message="The password is required and cannot be empty")
      div(class='form-group')
        div(class='col-sm-offset-2 col-sm-8')
          button(type='submit',class='btn btn-primary')
            | 登录
    hr
  
  include includes/footer
  
  script(type='text/javascript').
    $(document).ready(function() {
      $('#defaultForm').bootstrapValidator();
    });
