extends includes/layout

block headlink
  title 我是裁判 -- 清华羽协

block content
  div(class='container')
    hr
    if referee != null
      div(class='panel panel-info')
        div(class='panel-heading')
          h4 裁判流程说明
        div(class='panel-body')
          p 1、到达比赛现场，签到。
          p 2、抛球（抛硬币），双方选择场地，发球权。
          p 3、每一局比赛开始前，双方分别选择本局第一个球的发球队员，接发球队员。
          p 4、按照站位提示进行比赛，注意到第三局中段也需要交换场地。
          p 5、点击得分后，请等待同步完成（“同步中”字样消失表示完成同步），再开始下一球。
          p 6、遇到同步失败的情况，请先检查网络连接，不要重复点击得分（如仍无法解决，请呼唤主席台）。
          p 7、比赛结束，请选手确认最终比分，提交结果。
          p 8、完成当天所有比赛，签出。
      hr
    div(class='text-center')
      if referee == null
        h3 2015年羽毛球单项赛将使用电子设备实时记分，敬请期待！
        h3 你不是裁判，请到单项赛界面下报名，在比赛开始前，我们将统一开通权限。
      else
        if referee.status == 0
          a(href='/referee/on',class='btn btn-primary') 签到
          | &nbsp;（我已到比赛现场，可以开始做裁判）
        else
          h3 比赛
          - var flag = true
          div(class='table-responsive')
            table(class='table table-striped table-bordered table-hover')
              thead
                tr
                  th 场地
                  th 选手
                  th 状态
                  th 操作
              tbody
                - for (var i=0;i<matches.length;i++)
                  tr
                    td #{matches[i].space}号场
                    td
                      | #{matches[i].id1}
                      if matches[i].id2 != null
                        | /#{matches[i].id2}
                      | &nbsp;vs
                      | #{matches[i].id3}
                      if matches[i].id4 != null
                        | /#{matches[i].id4}
                    td(class=matches[i].status>=2?'success':'danger')
                      if matches[i].status == 0
                        | 未开始
                      if matches[i].status == 1
                        | 进行中
                      if matches[i].status >= 2
                        | 已结束
                    if matches[i].status <= 1
                      - flag = false;
                    td
                      - link = '/referee/' + matches[i].year + '/' + matches[i].type + '/' + matches[i].leftP + '/' + matches[i].rightP
                      a(href=link,class='btn btn-primary') 进入
          if flag
            h4 （请等待主席台分配比赛任务！）
          a(href='/referee/off',class='btn btn-danger') 签出
          | &nbsp;（我已完成裁判任务，将离开比赛场地）
    hr
