extends includes/layout

block headlink
  title 裁判管理台 -- 清华羽协

block content
  div(class='container text-center')
    hr
    form(id="myForm",class='form-horizontal',role='form')
      h4 已经开始的比赛
      div(class='table-responsive')
        table(class='table table-striped table-bordered table-hover', id='matches')
          thead
            tr
              th 年份
              th 项目
              th(colspan='3') 比赛标号
              th(colspan='4') 参赛选手
              th 场地
              th 裁判
              th 比分
              th 状态
              th 选择
      button(type='button', class='btn btn-danger', id='type2') 删除/提交比赛
      hr
      h4 可以开始的比赛
      div(class='table-responsive')
        table(class='table table-striped table-bordered table-hover', id='ready')
          thead
            tr
              th 年份
              th 项目
              th(colspan='3') 比赛标号
              th(colspan='4') 参赛选手
              th 选择
      h4 裁判
      div(class='table-responsive')
        table(class='table table-striped table-bordered table-hover', id='referees')
          thead
            tr
              th 学号
              th 姓名
              th 状态
              th 工作量
              th 选择
      | 局数：
      input(type='text', id='game', value='2')
      | 分数：
      input(type='text', id='total', value='11')
      | 加分：
      input(type='text', id='diff', value='1')
      | 上限：
      input(type='text', id='upper', value='11')
      | 场地：
      input(type='text', id='space', value='0')
      br
      br
      button(type='button', class='btn btn-danger', id='type1') 新建比赛
    hr
    h4 大屏幕显示比分
    a(href='/referee/admin/'+year+'/screenAll', class='btn btn-primary') 全部
    - for (var i=1;i<=10;i++)
      | &nbsp;
      a(href='/referee/admin/'+year+'/screen/one/'+i, class='btn btn-primary') 场地#{i}
    hr
  
  - var url = '/referee/admin/' + year + '/'
  script(src='/js/parseMatch.js')
  script(src='/js/getReadyMatch.js')
  script(type='text/javascript').
    var read = function(url, callback) {
      $.ajax({
        url: url,
        type: "GET",
        success: function(m) {
          callback(m);
        },
      });
    };
    var users, matches, referees, ready;
    $("#type1").click(function() {
      var i = parseInt($('input[name=reaCho]:checked', '#myForm').val());
      var j = parseInt($('input[name=refCho]:checked', '#myForm').val());
      if (isNaN(i) || isNaN(j)) {
        alert("请选择比赛和裁判！");
        return;
      }
      var space = parseInt($("#space").val());
      if (space == 0) {
        alert("请更改场地！");
        return;
      }
      $("#type1").prop('disabled', true);
      $("#type2").prop('disabled', true);
      $.ajax({
        url: "#{url}",
        data: {type: 1, match: {
          year: ready[i].year,
          type: ready[i].type,
          totalP: ready[i].totalP,
          leftP: ready[i].leftP,
          rightP: ready[i].rightP,
          id1: ready[i].id1,
          id2: ready[i].id2,
          id3: ready[i].id3,
          id4: ready[i].id4,
          points: '',
          game: parseInt($("#game").val()),
          total: parseInt($("#total").val()),
          diff: parseInt($("#diff").val()),
          upper: parseInt($("#upper").val()),
          pos: 0,
          pos12: 0,
          pos34: 0,
          serve: 0,
          status: 0,
          referee: referees[j].studentid,
          space: space,
        }},
        type: "POST",
        dataType: "json",
        success: function(m) {
          location.reload();
        },
      });
    });
    $("#type2").click(function() {
      var i = parseInt($('input[name=matCho]:checked', '#myForm').val());
      if (isNaN(i)) {
        alert("请选择比赛！");
        return;
      }
      var detail = parseMatch(matches[i]);
      $("#type1").prop('disabled', true);
      $("#type2").prop('disabled', true);
      $.ajax({
        url: "#{url}",
        data: {type: matches[i].status == 2 ? 2 : 3, match: {
          year: matches[i].year,
          type: matches[i].type,
          totalP: matches[i].totalP,
          leftP: matches[i].leftP,
          rightP: matches[i].rightP,
          id1: matches[i].id1,
          id2: matches[i].id2,
          id3: matches[i].id3,
          id4: matches[i].id4,
          score12: detail.gameL,
          score34: detail.gameR,
          detail: detail.points,
          referee: matches[i].referee,
          points: matches[i].points,
          pos12: matches[i].pos12,
          pos34: matches[i].pos34,
          serve: matches[i].serve,
          game: matches[i].game,
          total: matches[i].total,
          diff: matches[i].diff,
          upper: matches[i].upper,
        }},
        type: "POST",
        dataType: "json",
        success: function(m) {
          location.reload();
        },
      });
    });
    var showType = function (type) {
      if (type == 1) return "男单";
      if (type == 3) return "男双";
      if (type == 4) return "女双";
      if (type == 5) return "混双";
    };
    var showStatus = function (status) {
      if (status == 0) return "未开始";
      if (status == 1) return "进行中";
      if (status == 2) return "已结束，未提交";
      if (status == 3) return "已结束，已提交";
    };
    var showOn = function (status) {
      if (status == 0) return "----";
      if (status == 1) return "到！";
    }
    $(document).ready(function() {
      read("#{url}" + "users", function(m) {
        users = m;
        read("#{url}" + "matches", function(m) {
          matches = m;
          read("#{url}" + "referees", function(m) {
            referees = m;
            ready = getReadyMatch(#{year}, users, matches);
            var table = $("#matches");
            for(var i = 0; i < matches.length; i++)
            {
              var tr = $("<tr></tr>");
              $("<td>" + matches[i].year + "</td>").appendTo(tr);
              $("<td>" + showType(matches[i].type) + "</td>").appendTo(tr);
              $("<td>" + matches[i].totalP + "</td>").appendTo(tr);
              $("<td>" + matches[i].leftP + "</td>").appendTo(tr);
              $("<td>" + matches[i].rightP + "</td>").appendTo(tr);
              $("<td>" + matches[i].nam1 + "</td>").appendTo(tr);
              $("<td>" + matches[i].nam2 + "</td>").appendTo(tr);
              $("<td>" + matches[i].nam3 + "</td>").appendTo(tr);
              $("<td>" + matches[i].nam4 + "</td>").appendTo(tr);
              $("<td>" + matches[i].space + "号场" + "</td>").appendTo(tr);
              $("<td>" + matches[i].name + "</td>").appendTo(tr);
              var detail = parseMatch(matches[i]);
              $("<td>" + detail.points + "</td>").appendTo(tr);
              $("<td>" + showStatus(matches[i].status) + "</td>").appendTo(tr);
              if (matches[i].status == 0 || matches[i].status == 2) {
                $("<td>" + '<input type="radio" name="matCho" value='+i+'>' + "</td>").appendTo(tr);
              } else {
                $("<td>&nbsp;</td>").appendTo(tr);
              }
              tr.appendTo(table);
            }
            var table = $("#ready");
            for(var i = 0; i < ready.length; i++)
            {
              var tr = $("<tr></tr>");
              $("<td>" + ready[i].year + "</td>").appendTo(tr);
              $("<td>" + showType(ready[i].type) + "</td>").appendTo(tr);
              $("<td>" + ready[i].totalP + "</td>").appendTo(tr);
              $("<td>" + ready[i].leftP + "</td>").appendTo(tr);
              $("<td>" + ready[i].rightP + "</td>").appendTo(tr);
              $("<td>" + ready[i].nam1 + "</td>").appendTo(tr);
              $("<td>" + ready[i].nam2 + "</td>").appendTo(tr);
              $("<td>" + ready[i].nam3 + "</td>").appendTo(tr);
              $("<td>" + ready[i].nam4 + "</td>").appendTo(tr);
              $("<td>" + '<input type="radio" name="reaCho" value='+i+'>' + "</td>").appendTo(tr);
              tr.appendTo(table);
            }
            var table = $("#referees");
            for(var i = 0; i < referees.length; i++)
            {
              var tr = $("<tr></tr>");
              $("<td>" + referees[i].studentid + "</td>").appendTo(tr);
              $("<td>" + referees[i].name + "</td>").appendTo(tr);
              $("<td>" + showOn(referees[i].status) + "</td>").appendTo(tr);
              $("<td>" + referees[i].work + "工作进行中" + "</td>").appendTo(tr);
              $("<td>" + '<input type="radio" name="refCho" value='+i+'>' + "</td>").appendTo(tr);
              tr.appendTo(table);
            }
          });
        });
      });
    });
