extends includes/layout

block headlink
  title 我是裁判 -- 清华羽协

block content
  div(class='container')
    hr
    div(class='text-center')
      if referee == null
        h3 2015年羽毛球单项赛将使用电子设备实时记分，敬请期待！
        h3 你不是裁判，请到单项赛界面下报名，在比赛开始前，我们将统一开通权限。
      else
        if referee.status == 0
          a(href='/referee/on',class='btn btn-primary') 签到
          | &nbsp;(我已到比赛现场，可以开始做裁判)
        else
          h3 比赛
          - var flag = true
          div(class='table-responsive')
            table(class='table table-striped table-bordered table-hover')
              thead
                tr
                  th 场地
                  th 选手
                  th 状态
                  th 操作
              tbody
                - for (var i=0;i<matches.length;i++)
                  tr
                    td #{matches[i].space}号场
                    td
                      | #{matches[i].id1}
                      if matches[i].id2 != null
                        | /#{matches[i].id2}
                      | &nbsp;vs
                      | #{matches[i].id3}
                      if matches[i].id4 != null
                        | /#{matches[i].id4}
                    td(class=matches[i].status>=2?'success':'danger')
                      if matches[i].status == 0
                        | 未开始
                      if matches[i].status == 1
                        | 进行中
                      if matches[i].status >= 2
                        | 已结束
                    if matches[i].status <= 1
                      - flag = false;
                    td
                      - link = '/referee/' + matches[i].year + '/' + matches[i].type + '/' + matches[i].leftP + '/' + matches[i].rightP
                      a(href=link,class='btn btn-primary') 进入
          if flag
            h4 (请等待主席台分配比赛任务！)
          a(href='/referee/off',class='btn btn-danger') 签出
          | &nbsp;(我已完成裁判任务，将离开比赛场地)
    hr
