extends includes/layout

block headlink
  title #{id}号场比分 -- 清华羽协
  style.
    td { font-size: 80px; }
    .ball { height: 80px; }

block content
  div(class='container text-center')
    hr
    div(class='table-responsive')
      table(class='table table-bordered', id='match')
    hr
  
  - var url = '/referee/admin/' + year + '/'
  script(src='/js/parseMatch.js')
  script(type='text/javascript').
    var read = function(url, callback) {
      $.ajax({
        url: url,
        type: "GET",
        success: function(m) {
          callback(m);
        },
      });
    };
    var users, matches;
    var userName = [null, {}, null, {}, {}, {}];
    var showName = function (tr, nam1, nam2) {
      if (nam2 == '') {
        $("<td>" + nam1 + "</td>").appendTo(tr);
      } else {
        $("<td>" + nam1 + "/" + nam2 + "</td>").appendTo(tr);
      }
    };
    var update = function () {
      read("#{url}" + "matchesDoing", function(m) {
        matches = m;
        for (var i = 0; i < matches.length; i++) {
          if (matches[i].space != #{id}) continue;
          matches[i].nam1 = userName[matches[i].type][matches[i].id1];
          matches[i].nam2 = matches[i].id2 == 0 ? '' : userName[matches[i].type][matches[i].id2];
          matches[i].nam3 = userName[matches[i].type][matches[i].id3];
          matches[i].nam4 = matches[i].id4 == 0 ? '' : userName[matches[i].type][matches[i].id4];
        }
        $("#match tr").remove();
        var table = $("#match");
        for(var i = 0; i < matches.length; i++)
        {
          if (matches[i].space != #{id}) continue;
          var tr = $("<tr></tr>");
          var detail = parseMatch(matches[i]);
          showName(tr, matches[i].nam1, matches[i].nam2);
          for (var j=0;j<=detail.now;j++) $("<td>" + detail.scoreL[j] + "</td>").appendTo(tr);
          if (detail.serve == 0) $("<td><img class='ball' src='/img/icon.png' alt='ball'></td>").appendTo(tr);
          if (detail.serve == 1) $("<td>&nbsp;</td>").appendTo(tr);
          tr.appendTo(table);
          var tr = $("<tr></tr>");
          showName(tr, matches[i].nam3, matches[i].nam4);
          for (var j=0;j<=detail.now;j++) $("<td>" + detail.scoreR[j] + "</td>").appendTo(tr);
          if (detail.serve == 0) $("<td>&nbsp;</td>").appendTo(tr);
          if (detail.serve == 1) $("<td><img class='ball' src='/img/icon.png' alt='ball'></td>").appendTo(tr);
          tr.appendTo(table);
        }
        setTimeout(update, 3000);
      });
    }
    $(document).ready(function() {
      read("#{url}" + "users", function(m) {
        users = m;
        for (var i = 0; i < users.length; i++) {
          userName[users[i].type][users[i].id] = users[i].name;
        }
        update();
      });
    });
