extends includes/layout

block headlink
  title 签到 -- 清华羽协

block content
  include includes/navbar
  
  if typeof(flash) != 'undefined'
    include includes/flash-messages
    mixin flash-messages(flash)
  
  div(class='container')
    hr
    form(class='form-horizontal',method='post',role='form')
      div(class='text-center')
        h3= result.studentid
        h3= result.name
        if result.rank == null
          h3 不是会员
        else
          if result.rank == 1
            h3 群众体育会员
          if result.rank == 2
            h3 正式会员
          if result.rank >= 3
            h3 内阁会员
          h1 已交费#{result.money}元
          if bsign == true
            h3 今天已签到
          if bsign == false
            h3 未签到
            - address = '/sign/' + result.studentid + '/' + result.prikey + '/signin'
            a(role="button", href=address, class="btn btn-primary")
              h3 签到
          hr
          input(type='text',class='form-control',name='money',value=result.rank==1?70:150)
          hr
          button(type='submit',class='btn btn-danger')
            h3 更改
          | &nbsp;
          a(role="button", href='/sign', class="btn btn-primary")
            h3 返回列表
    hr
  
  include includes/footer
