extends layout

block content
  include includes/navbar
  
  if typeof(flash) != 'undefined'
    include includes/flash-messages
    mixin flash-messages(flash)
  
  mixin showTable(table)
    table(class='table table-striped table-bordered table-hover')
      thead
        tr
          th 序号
          th 学号
          th 姓名
          th 性别
          th 院系
          th 已交费
          th 签到
          th 操作
      tbody
        - sum = 0
        - num = 0
        - sign = 0
        - for (var i=0;i<table.length;i++)
          tr
            td= (i+1)
            td= table[i].studentid
            td= table[i].name
            td= table[i].sex
            td= table[i].department
            td #{table[i].money}元
            - sum = sum + table[i].money
            if table[i].money > 0
              - num = num + 1
            if table[i].dayid != null
              td
                h4
                  span(class="glyphicon glyphicon-ok-sign")
              - sign = sign + 1
            else
              td
                | &nbsp;
            td
              - address = '/sign/' + table[i].studentid + '/' + table[i].prikey
              a(role="button", href=address, class="btn btn-danger")
                | 修改
        tr
          td 共计
          td &nbsp;
          td &nbsp;
          td &nbsp;
          td &nbsp;
          td #{sum}元/#{num}人
          - total = total + sum
          td #{sign}人签到
          td &nbsp;
  
  - total = 0
  div(class='container')
    hr
    h3 群众体育
    +showTable(list1)
    hr
    h3 正式会员
    +showTable(list2)
    hr
    h3 内阁
    +showTable(list3)
    hr
  
  div(class='container')
    p(class="text-center")
      | 交费收入一共#{total}元
    hr
  
  include includes/footer
