extends layout

block headlink
  title #{year}年清华大学羽毛球团体赛报名选手公示 -- 清华羽协

block content
  include includes/navbar
  
  if typeof(flash) != 'undefined'
    include includes/flash-messages
    mixin flash-messages(flash)
  
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 #{year}年清华大学羽毛球团体赛
      div(class='panel-body')
        h5
          | 报名选手
    hr
    div(class='')
      table(class='table table-bordered')
        thead
          tr
            th 序号
            th 院系
            th 男队员
            th 女队员
        tbody
          - for (var i=0;i<table.length;i+=2)
            if i > 0
              td(colspan=4) &nbsp;
            - for (var j=3;j<table[i].length;j++)
              tr
                if j==3
                  td(rowspan=6)= table[i][0].content
                  td(rowspan=6)= table[i][1].content
                td
                  if table[i][j].superId == null
                    div= table[i][j].content
                  else
                    div
                      a(href='/statistics/' + table[i][j].superId, target='_blank')= table[i][j].content
                td
                  if table[i+1][j].superId == null
                    div= table[i+1][j].content
                  else
                    div
                      a(href='/statistics/' + table[i+1][j].superId, target='_blank')= table[i+1][j].content
    hr
  
  include includes/footer
