extends includes/layout

block headlink
  title #{year}年清华大学羽毛球团体赛比赛结果 -- 清华羽协

block content
  mixin getType(type)
    if type == 1
      | 甲组小组赛
    if type == 2
      | 乙组小组赛
    if type == 3
      | 甲组淘汰赛
    if type == 4
      | 乙组淘汰赛
    if type == 5
      | 甲乙组总决赛
  
  mixin showTable(title, teamId, table)
    h3= title
    div(class='table-responsive')
      table(class='table table-bordered')
        thead
          tr
            - for (var i=0;i<table[0].length;i++)
              if type <= 2
                th= table[0][i]
              else
                th= table[0][i].content
        tbody
          - for (var i=1;i<table.length;i++)
            tr
              - for (var j=0;j<table[i].length;j++)
                if type <= 2
                  td
                    if j > 0 && j < table.length && i != j
                      if i < j
                        - var link = '/team/' + year + '/Details/' + type + '/' + teamId + '/' + i + '/' + j
                      else
                        - var link = '/team/' + year + '/Details/' + type + '/' + teamId + '/' + j + '/' + i
                      if table[i][j] == null
                        | &nbsp;
                      else
                        a(href=link, target='_blank')
                          h4= table[i][j]
                    else
                      = table[i][j]
                else
                  if table[i][j].height > 0
                    if j > 0
                      td(rowspan=table[i][j].height)
                        - var link = '/team/' + year + '/Details/' + type + '/' + teamId + '/'
                        if j < table[i].length - 1
                          - link += i + '/' + (i + table[i][j].height - 1)
                        else if i == 1
                          - link += '1/' + (table.length - 1)
                        else
                          - link += (table.length - 1) + '/1'
                        if table[i][j].content == ''
                          | &nbsp;
                        else
                          a(href=link, target='_blank')= table[i][j].content
                    else
                      td(rowspan=table[i][j].height)= table[i][j].content
    hr
  
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 #{year}年清华大学羽毛球团体赛比赛结果
      div(class='panel-body')
        h4
          +getType(type)
        if year == 2014 && type == 1
          div(class="col-md-8 col-md-offset-2")
            img(src='/img/team2014jia.png', alt='jia', class="img-responsive")
        if year == 2014 && type == 2
          div(class="col-md-10 col-md-offset-1")
            img(src='/img/team2014yi.png', alt='yi', class="img-responsive")
    hr
    - for (var i=0;i<tables.length;i++)
      - var title = '比赛结果'
      - var teamId = tables[i].length - 1
      if tables.length > 1
        - title = '第' + (i+1) + '组' + ' (' + team[i] + ')'
        - teamId = i + 1
      +showTable(title, teamId, tables[i])
    div(class='row')
      div(class='col-md-4 col-md-offset-4')
        div(class='list-group text-center')
          h3 相关链接
          - for (var i=1;i<=5;i++)
            if year != 2015 || i != 5
              a(href='/team/'+year+'/Results/'+i, class=(i==type)?"list-group-item active":"list-group-item")
                | #{year}年
                +getType(i)
                | 比赛结果
    hr
