extends includes/layout

block headlink
  title 团体赛报名 -- 清华羽协
  link(rel='stylesheet', href='/stylesheets/formValidation.min.css')
  script(src='/js/formValidation.min.js')
  script(src='/js/framework/bootstrap.min.js')

block content
  include includes/navbar
  
  if typeof(flash) != 'undefined'
    include includes/flash-messages
    mixin flash-messages(flash)
  
  div(class='container')
    div(class='text-center')
      h4 请填写选手信息
    hr
    form(id="defaultForm",class='form-horizontal',method='post',role='form',
          data-fv-message="This value is not valid",
          data-fv-icon-valid="glyphicon glyphicon-ok",
          data-fv-icon-invalid="glyphicon glyphicon-remove",
          data-fv-icon-validating="glyphicon glyphicon-refresh")
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 学号/教工号
        div(class='col-sm-8')
          input(type='text',class='form-control',name='stu',placeholder='ID',value=results[id]?results[id].stu:'',
                data-fv-message="The ID is not valid",
                required,data-fv-notempty-message="The ID is required and cannot be empty",
                pattern="^[0-9]+$",data-fv-regexp-message="The ID can only consist of digits",
                data-fv-stringlength="true",data-fv-stringlength-min="10",data-fv-stringlength-max="10",
                data-fv-stringlength-message="The ID must be 10 characters long")
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 姓名
        div(class='col-sm-8')
          input(type='text',class='form-control',name='nam',placeholder='Name',value=results[id]?results[id].nam:'',
                data-fv-message="The username is not valid",
                required,data-fv-notempty-message="The username is required and cannot be empty")
          p(class='help-block')
            | 请填写真实姓名
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 邮箱
        div(class='col-sm-8')
          input(type='email',class='form-control',name='ema',placeholder='Email Address',value=results[id]?results[id].ema:'',
                data-fv-emailaddress-message="The input is not a valid email address",
                required,data-fv-notempty-message="The email is required and cannot be empty")
      div(class='form-group')
        label(class='col-sm-2 control-label')
          | 电话
        div(class='col-sm-8')
          input(type='text',class='form-control',name='pho',placeholder='Phone Number',value=results[id]?results[id].pho:'',
                pattern="^[0-9]+$",data-fv-regexp-message="The phone number can only consist of digits",
                required,data-fv-notempty-message="The phone number is required and cannot be empty",
                data-fv-stringlength="true",data-fv-stringlength-min="11",data-fv-stringlength-max="11",
                data-fv-stringlength-message="The phone number must be 11 characters long")
          p(class='help-block')
            | 必填，发通知用，邮箱和电话不会公开在本网站上
      div(class='form-group')
        div(class='col-sm-offset-2 col-sm-2')
          button(type='submit',class='btn btn-danger')
            | 提交
          | &nbsp;
          - address = '/team/' + year + '/Apply/' + dep
          a(role="button", href=address, class="btn btn-primary")
            | 返回
    hr
  
  include includes/footer

  script(type='text/javascript').
    $(document).ready(function() {
      $('#defaultForm').formValidation();
    });
