extends includes/layout

block headlink
  title #{year}年清华大学羽毛球团体赛报名 -- 清华羽协

block content
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 #{year}年清华大学羽毛球团体赛报名
      div(class='panel-body')
        h5
          | 报名仅对各个院系队长开放，请各院系确定本系队长，队长先在本网站上注册，然后将姓名学号发送至 tsinghuabadminton@gmail.com ，我们将尽快开通权限。
        h5
          | 报名时间： #{time}
        hr
        h5
          | 注：报名截止后，参赛选手名单将在本网站上公示，名单将不得再修改，比赛提交的对阵表中参赛人员必须是在报名表中的队员。
        h5
          | （队长可作为运动员或裁判；教职工运动员在每一轮的五场比赛中上场的不能多于2人。）
        h5
          | 团体赛抽签时间：2015年11月15日 中午12:00-13:00。地点：综合体育馆大厅。望各位领队准时到场抽签，过时由组委会代为抽签。
        h5
          | 裁判培训时间：2015年11月19日 中午11:40-12:30。地点：综合体育馆大厅。
        h5
          | 比赛时间地点：2015年11月21日、22日 08:00-18:00，清华大学综合体育馆。
        hr
        h5
          | 附：&nbsp;
          a(href='/files/teamRegulation2015.doc', target='_blank')
            | 《2015-2016年秋季学期清华大学马杯羽毛球比赛章程》
        h5
          | 注： 队长需自行在羽协网站上注册，比赛组织方不会在网站上统一注册队长信息。
    hr
    div(class='table-responsive')
      table(class='table table-striped table-bordered table-hover')
        thead
          tr
            th 序号
            th 院系
            th 队长
        tbody
          - for (var i=0;i<departments.length;i++)
            tr
              td
                p
                  h4= departments[i].id
              td
                p
                  h4
                    a(href="/team/2015/Apply/" + departments[i].id)
                      = departments[i].name
              td
                p
                  h4= departments[i].leader
    hr
