extends includes/layout

block headlink
  title #{year}年清华大学羽毛球团体赛报名选手公示 -- 清华羽协

block content
  include includes/navbar
  
  if typeof(flash) != 'undefined'
    include includes/flash-messages
    mixin flash-messages(flash)
  
  div(class='container')
    hr
    div(class='panel panel-info')
      div(class='panel-heading')
        h3 #{year}年清华大学羽毛球团体赛
      div(class='panel-body')
        if year == 2014
          h4
            | 比赛时间：2014年12月6日、7日
          h4
            | 比赛地点：清华气膜馆
          h4
            | 具体的场次安排：
            a(href='/files/teamTime2014.xlsx', target='_blank')
              |  《2014年清华大学羽毛球团体赛日程表》
        h4
          | 报名选手如下：
    hr
    div(class='table-responsive')
      table(class='table table-bordered')
        thead
          tr
            th 序号
            th(colspan=6) 院系
        tbody
          - for (var i=0;i<table.length;i+=2)
            tr
              td(colspan=7) &nbsp;
            tr
              td= table[i][0].content
              td(colspan=6)= table[i][1].content
            - for (var k=0;k<=1;k++)
              tr
                td= table[i+k][2].content
                - for (var j=3;j<table[i+k].length;j++)
                  td
                    if table[i+k][j].superId == null
                      div= table[i+k][j].content
                    else
                      div
                        a(href='/statistics/' + table[i+k][j].superId, target='_blank')= table[i+k][j].content
    hr
  
  include includes/footer
